<html>
<head>
  <title>Guessing Game</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel = "stylesheet" type = "text/css" href = "style.css" />
</head>
<body>
<h2> Goooood job! </h2>

<img src="images/correct.gif">
</body>
</html>