<html>
<head>
  <title>Guessing Game</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel = "stylesheet" type = "text/css" href = "style.css" />
</head>
<body>
<h2> Guessing Game </h2>

<p> Pick a number between 1 and 100 for K2SO to guess!</p>
<p> Press the start button when you're ready to continue...</p>

<form action="/new" method="post">
  <input class="button" type="submit" value="Let's Go!">
</form>
<img src="images/robot.png">

</body>
</html>